/*doc
---
title: Header
name: header
category: Layout
---

```html_example
<header class="header-container" role="banner">
  The header's content gets here
</header>
```
*/

.header {
  overflow: hidden;
  padding: 0;
  background-image: linear-gradient(-180deg, #FFFBF7 0%, #F4EEE8 100%);
}
.header-logo {
  text-align: center;
  margin: rem-calc(48 0 0);

  @include susy-breakpoint($break-large) {
    margin: rem-calc(120 0 0);
  }
}
