/*doc
---
title: Header
name: header
category: Layout
---

```html_example
<header class="header-container" role="banner">
  The header's content gets here
</header>
```
*/

.header {
  overflow: hidden;
  padding: 0;
  background: url("../assets/images/banner-light.jpg") #F9F4EF no-repeat top center;
  background-size: 100% auto;
}
.header-logo {
  text-align: center;
  margin: rem-calc(48 0 0);

  @include susy-breakpoint($break-large) {
    margin: rem-calc(120 0 0);
  }
}
