.collapse {
  > input[type="checkbox"] {
    // display: none;
    &:checked {
      ~ label::after {
        transform : rotate(180deg);
      }
      ~ .collapse-content {
        display: block;
        border: 1px solid red;
      }
    }
  }

  > label {
    display: block;
    padding: 8px;
    cursor: pointer;
    background-color: #ccc;

    &::after {
      content: '▾';
      display: inline-block;
      margin-left: 4px;
    }
  }
}
.collapse-content {
  padding: 8px;
  display: none;
}
