[id^="icon"] path,
[id*=" icon"] path {
  fill: currentColor;
}
[class^="icon"],
[class*=" icon"] {
  display: inline-block;
  width: 1.25em;
  height: rem-calc(24);
  fill: currentColor;
  &.is-inline {
    vertical-align: middle;
    margin-top: -4px;
    margin-right: rem-calc(6);
  }
  &.is-big {
    width: rem-calc(48);
    height: rem-calc(48);
  }
}
